@import "./input.css";
@import "tailwindcss";

@theme {
    --color-green-700: #146548;
    --color-green-800: #0B4B36;
    --color-green-900: #062E21;

    --color-gray-50: #f7f7f7;
    --color-gray-100: #f2f2f2;
    --color-gray-200: #e8e8e8;
    --color-gray-300: #d6d6d6;
    --color-gray-400: #B5B5B5;
    --color-gray-450: #939393;
    --color-gray-500: #8f8f8f;
    --color-gray-600: #4d4d4d;
    --color-gray-700: #4f4f4f;

    --color-white: hsla(0, 0%, 100%, 1);

    --text-32: 32px;

    --font-fira: "Fira Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --shadow-card: 0px 3px 6px 0px #00000029;
    --shadow-soft: 0px 1px 3px 0px hsla(0, 0%, 0%, 0.14);

    --solid: var(--color-green-800);
    --solid-hover: var(--color-green-700);
    --solid-active: var(--color-green-900);

    --plain-text: var(--color-green-800);
    --plain-text-hover: var(--color-green-700);

    --plain: transparent;

}

html, body, #root {
    @apply font-fira h-full bg-gray-50;
}

.custom-clip {
    clip-path: polygon(
            0% 0%,
            100% 0%,
            50% 100%
    );
}

.custom-header-clip {
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            50% 100%,
            0% 75%
    );
}
